@font-face {
  font-family: 'RobotoMono';
  src: url(./fontes/RobotoMono-Thin.ttf);
}

@font-face {
  font-family: 'Rubik-Bold';
  src: url(./fontes/Rubik-Bold.ttf);
}

*{
  font-family: 'RobotoMono';
}

body {
  display: flex;
  min-height: 100vh;
  overflow: scroll;

  justify-content: center;
  align-items: center;
  text-align: center;

  color: #fff;
  /* background: linear-gradient(to top right, #0F2027, #203A43, #2C5364); */
  background: linear-gradient(to top right, #000000, #414141);
}